In [1]:
import pandas as pd

In [2]:
%cd db

/home/mlis/db

In [5]:
beers=pd.read_csv("beers.csv")

In [11]:
beers.columns

Index(['Unnamed: 0', 'abv', 'ibu', 'id', 'name', 'style', 'brewery_id',
       'ounces'],
      dtype='object')

In [14]:
beers=beers.drop(['Unnamed: 0'],axis=1)

In [6]:
brew=pd.read_csv("breweries.csv")

In [16]:
brew=brew.drop(['Unnamed: 0'],axis=1)

In [43]:
regions=pd.read_csv('regions.csv') #https://github.com/cphalpert/census-regions

In [50]:
state_regions=regions[['State Code','Region']].rename({'State Code':'state'},axis=1)

In [62]:
brew.head()

                        name           city state
0         NorthGate Brewing     Minneapolis    MN
1  Against the Grain Brewery     Louisville    KY
2   Jack's Abby Craft Lagers     Framingham    MA
3  Mike Hess Brewing Company      San Diego    CA
4    Fort Point Beer Company  San Francisco    CA

In [93]:
len(brew)

558

In [63]:
state_regions.head()

  state Region
0    AK   West
1    AL  South
2    AR  South
3    AZ   West
4    CA   West

In [74]:
brew.state=brew.state.astype(str).str.strip()

# Google Places API

In [18]:
api_key="AIzaSyBeKMWB8Uq_g4_xq4pks6wdCyJMSV5lIMs"

In [20]:
import googlemaps
from datetime import datetime

gmaps = googlemaps.Client(key=api_key)

In [130]:
from time import sleep

In [ ]:
failures=[]

In [145]:
for i in range(281,brew.index[-1]+1):
    outs=gmaps.places(brew.loc[i,'name'])
    if outs['status']!='ZERO_RESULTS':
        outs1=gmaps.place(outs['results'][0]['place_id'])
        add=outs1['result']['address_components']
        dic={d.pop("types")[0]: d for d in map(dict, add)}
        if dic['country']['short_name']=='US':
            if dic['administrative_area_level_1']['short_name']==brew.loc[i,'state']:
                if 'rating' in list(outs1['result'].keys()):
                    brew.loc[i,'rating']=outs1['result']['rating']
                else:
                    failures.append([i,outs1,'no rating'])
                    print(str(i)+" rating")
            else:
                failures.append([i,outs1,'state_mismatch'])
                print(str(i)+" state")
        else:
            failures.append([i,outs,'search'])
            print(str(i)+" search")
    else:
        failures.append([i,outs,'search'])
        print(str(i)+" search")
    sleep(1)

281 rating
284 search
286 state
287 state
289 search
290 search
293 search
296 search
304 search
308 search
311 search
313 search
317 search
322 search
327 search
328 state
329 search
347 search
349 search
355 rating
357 search
370 search
376 search
384 search
394 state
395 search
396 search
398 search
405 rating
408 search
411 search
413 search
418 search
419 search
422 search
423 search
424 state
426 rating
428 search
430 search
433 search
434 search
438 search
451 search
453 search
459 search
466 search
477 search
478 search
493 search
496 search
504 search
507 search
508 search
515 search
517 search
522 search
523 search
537 search
538 search
539 search
543 search
544 search
555 search
556 search

In [147]:
len(failures)

135

In [150]:
len(brew['rating'].dropna())

559

In [162]:
no_rating=[]
no_state=[]
no_search=[]
for i in failures:
    if i[2]=="no rating":
        no_rating.append(i)
    elif i[2]=="state_mismatch":
        no_state.append(i)
    elif i[2]=='search':
        no_search.append(i)

In [163]:
print(len(no_rating)) 
print(len(no_state))
print(len(no_search))#this one we cant do anything about rly

4
12
119

In [157]:
import numpy as np

In [158]:
failures_np=np.array([np.array(i) for i in failures])

In [161]:
np.unique(failures_np[:,2])

array(['no rating', 'search', 'state_mismatch'], dtype=object)

In [199]:
brew.loc[no_rating[3][0]]

name      Blue Dog Mead
city             Eugene
state                OR
Region             West
rating              NaN
Name: 426, dtype: object

In [200]:
brew.loc[no_rating[3][0],'rating']=2.9

In [167]:
no_state[0][1]['result']['rating']

4.8

We are going to ignore the 100 items that don't come up from google search.

In [215]:
brew['brewery_id']=brew.index

In [220]:
beers_with_brew=beers.merge(brew[['name','brewery_id']],on='brewery_id')

In [224]:
beers_with_brew=beers_with_brew.rename({'name_x':'beer_name',"name_y":'brewery_name'})

In [225]:
beers_with_brew.to_csv('beers_with_brew.csv')

# MySQL writing

In [9]:
brew=brew.fillna("")

In [3]:
brew=pd.read_csv('breweries_ratings.csv')

In [6]:
brew.columns

Index(['Unnamed: 0', 'name', 'city', 'state', 'Region', 'rating',
       'brewery_id'],
      dtype='object')

In [7]:
del brew['Unnamed: 0']

In [8]:
del brew['Region']

In [11]:
brew.to_csv('breweries_sql.csv',index=False)

In [14]:
brew['city'].str.len().max()

19

In [211]:
beers=beers.fillna("") #necessary step for mysql importing